* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: #111111;
}
.img-fluid {
  position: relative;
  width: 45%;
}
h1 {
  position: absolute;
  top: 30%;
  color: whitesmoke;
}
